.icon {
  @include fa-icon();

  &::before {
    display: inline-block;
    border-radius: 50%;
    height: 2.2em;
    width: 2.2em;
    line-height: 2.2em;
    font-size: 2em;
    text-align: center;
    vertical-align: middle;
    color: $color-initial;
  }
}

.small-icon {
  &::before {
    height: 2.4em;
    width: 2.4em;
    line-height: 2.4em;
    font-size: 1.4em;
  }
}

.icon-fb::before {
  content: $fa-var-facebook;
  background-color: #205b9f;
}

.icon-twitter::before {
  content: $fa-var-twitter;
  background-color: #00ace3;
}

.icon-gplus::before {
  content: $fa-var-google-plus;
  background-color: #ff3921;
}

.icon-behance::before {
  content: $fa-var-behance;
  background-color: #ff72a5;
}

.icon-dribble::before {
  content: $fa-var-dribbble;
  background-color: #009bd5;
}
