html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  color: $color-secondary;
  font-family: $base-font-family;
  font-size: $base-font-size-small;
  font-weight: $base-font-weight;
  line-height: $base-line-height;

  @include media($small-tablet) {
    font-size: $base-font-size;
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
