p {
  font-size: $paragraph-font-size;
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $header-font-weight;
  margin-top: 0;
}

h1 {
  font-size: $h1-font-size;
  font-weight: $h1-font-weight;
  text-transform: uppercase;
}

h2 {
  font-size: $h2-font-size;
  font-weight: $h2-font-weight;
  text-transform: uppercase;
}

h3 {
  font-size: $h3-font-size;
  font-weight: $h3-font-weight;
  text-transform: uppercase;
}

h4 {
  font-size: $h4-font-size;
  font-weight: $h4-font-weight;
  text-transform: uppercase;
}
