.right {
  float: right;
}

.left {
  float: left;
}

.highlighted {
  color: $color-primary;
}

.bg-image-cover {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity .4s linear;
}

.shadow-bg {
  @include position(absolute, 0 0 0 0);
  @include shadow-transparent(#394752);
}