.contact {
  background-color: $color-secondary;
  background: url('../img/contact-bg.png') 0 0 no-repeat;
  background-size: cover;

  .section-header {
    color: $color-initial;
  }
}

.contact-form {
  margin-bottom: 8.0em;
  @include row;

  @include media($tablet) {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;

    > .row:first-child {
      input {
        @include span-columns(1 of 2);
      }
    } 
  }
}

.contact-form-hire {
  display: block;
  @include span-columns(1 of 1);

  @include media($tablet) {
    @include span-columns(1 of 4);
  }
}

.contact-form-social {
  margin-top: 2.0em;
  @include span-columns(1 of 1);

  ul {
    display: block;
    text-align: center;

    li {
      a {
        @include hover-overlay();
      }
      
      + li {
        margin-left: 2em;
      }
    }
  }

  @include media($tablet) {
    margin-top: 0;

    ul {
      text-align: right;
    }
    @include span-columns(3 of 4);
  }
}