.promo {
  background: $color-secondary url('../img/promo_bg.png') 50% 50% no-repeat;
  background-size: cover;
  height: 100vh;
  color: $color-initial;
  font-size: .6em;

  @include media($small-tablet) {
    font-size: .8em;
  }

  @include media($tablet) {
    font-size: 1em;
  }
}

.promo-nav {
  padding: 5em 0;
  margin-bottom: auto;
  align-self: stretch;
  @include row;
  a {
    font-size: 1.6em;
  }

  .nav-icon {
    vertical-align: baseline;
  }
}

.promo-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;

  h1 {
    font-size: 7em;
    line-height: 1.2;
    margin-bottom: 1.8 / 7 * 1em;

    + p {
      font-size: 2.5em;
      text-align: center;
    }
  }

  @include media($small-tablet) {
    .promo-main {
      max-width: 80%;
    }
  }
}

.promo-actions {
  @include row;
  .button {
    @include span-columns(1 of 1);

    + .button {
      margin-top: 1em;
    }
  }

  @include media($small-tablet) {
    .button {
      @include span-columns(1 of 4, inline-block);
      + .button {
        margin-top: 0;
      }
    }
    .button:first-child {
      @include shift(1 of 4);
    }
  }

}

.promo-footer {
  margin-top: auto;
  padding-bottom: 4.4em;
  text-align: center;

  .scroll-down {
    @include transition(transform .8s ease-in-out);
    display: inline-block;
    fill: none;
    height: 3.8rem;
    width: 3.8rem;
    background: url('../img/scroll-down.png') center no-repeat;
    cursor: pointer;

    &:hover {
      @include transform(rotate(360deg));
    }
  }
}
