.services {
  padding-top: 5em;
  padding-bottom: 5em;

  @include media($tablet) {
    padding-bottom: 10em;
    padding-top: 10em;
  }

  @include media($desktop) {
    font-size: 1em;
  }
}

.services-content {
  @include row();
  text-align: left;

  h3 {
    margin-bottom: .8em;
  }

  h3 + p {
    line-height: 1.857;
  }

  @include media($tablet) {
    text-align: center;
  }
}

.services-item {
  @include row;

  @include media($small-tablet-stop) {
    @include span-columns(2 of 4);
    @include omega(2n);
  }

  @include media($tablet) {
    @include span-columns(1 of 4);
    @include omega(4n);
  }
}

.services-item:not(:last-child) {
  margin-bottom: 2em;
}

.services-item-logo {
  img {
    display: inline-block;
    max-width: 100%;
    height: auto;
  }
  @include span-columns(1 of 4);
  @include media($tablet) {
    text-align: center;
    margin-bottom: 2.2em;

    @include span-columns(1 of 1);
    @include omega();
  }
}

.services-item-content {
  padding-left: 2em;

  @include span-columns(3 of 4);

  @include media($tablet) {
    padding-left: 0;

    @include span-columns(1 of 1);
    @include omega();
    text-align: center;
  }
}
