.teammates-content {
  @include row;
  @include media($tablet) {
    padding-top: 4.8em;
  }
}

.teammate {
  display: block;
}

.teammate-header {
  padding: 0 2.2em;
  text-align: center;

  h3 {
    line-height: 1.2em;
  }
}

.teammate-wrap {
  display: block;
  position: relative;
  height: 32.5em;
  margin-bottom: 2.5em;
  margin-left: -1em;
  margin-right: -1em;
}

.teammate-avatar {
  display: block;
  position: absolute;
  top: 3.2em;
  left: 1em;
  right: 1em;
  bottom: 0;
  background-color: $ligh-gray;
  cursor: pointer;
  border-radius: $border-default-radius;
  overflow: hidden;
  transition: all .255s ease-in;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -6px;
    height: 6px;
    color: $color-primary;
    background-color: $color-primary;
    transition: all .255s ease;
  }

  > .bg-image-cover {
    filter: grayscale(1);
  }

  &:hover {
    top: 0;
    left: 0;
    right: 0;

    &::after {
      display: block;
      bottom: 0;
    }

    > .bg-image-cover {
      filter: initial;
    }
  }
}

.teammate-social {
  margin-bottom: 3.0em;

  ul > li a {
    @include hover-overlay();
  }
}

.teammate-about {
  padding: 0 1.5em;
  text-align: center;
  line-height: 1.857;
}
