.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  font-size: .8em;

  @include media($small-tablet) {
    font-size: 1em;
  }
}

.modal-visible {
  display: block;
}

.modal-content {
  position: relative;
  animation-duration: .5s;
  animation-delay: 0;
}