.tanatos-theme .owl-controls {
  text-align: center;
  padding-top: 8.0em;
  padding-bottom: 10.0em;
}

.tanatos-theme .owl-controls .owl-page {
  @include size(1.2em);
  display: inline-block;
}

.tanatos-theme .owl-controls .owl-page + .owl-page {
  margin-left: 1.8em;
}

.tanatos-theme .owl-controls .owl-page span {
  display: block;
  width: 100%;
  height: 100%;
  background-color: $ligh-gray;
  border-radius: 50%;
}

.tanatos-theme .owl-controls .owl-page.active span,
.tanatos-theme .owl-controls.clickable .owl-page:hover span {
  @include size(1.4em);
  background-color: $color-primary;
}
