.social {
  ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;

    > li {
      display: inline-block;

      + li {
        margin-left: 1.5em;
      }

      > a {
        display: inline-block;
      }
    }
  }
}